@import 'tailwindcss';

@theme {
	--animate-wave: wave 10s infinite ease-out;

	@keyframes wave {
		0% {
			border-radius: 10% 30% 0 0 / 20% 40% 0 0;
		}
		30% {
			border-radius: 30% 30% 0 0 / 20% 40% 0 0;
		}
		60% {
			border-radius: 60% 50% 0 0 / 20% 40% 0 0;
		}
		100% {
			border-radius: 10% 20% 0 0 / 20% 40% 0 0;
		}
	}
}

:root {
	font-family: -apple-system, system-ui, 'Helvetica Neue', Roboto, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 16px;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	display: grid;
	margin: 0 auto;
	min-width: 320px;
	max-width: 500px;
}

app {
	display: grid;
}

.qr-wrapper {
	position: absolute;
	pointer-events: none;
	width: 250px;
	height: 250px;
	z-index: 1;

	img {
		transform: scale(1.2);
	}
}
